body{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin: 0;
}
h1{
    font-size:30px;
}
.color{
    color:orange;
}
.all-section{
    display:flex;
    padding-bottom:150px;
}
.info{
    width:50%;
    padding-left:4%;
    
}
.info img{
    width:80%;
}
.target{
  text-decoration: none;
  padding: 10px 20px;
  background-image: linear-gradient(rgb(255, 255, 0),tomato);
  font-weight: 700;
  border-radius: 5px;
}
.target hover{
    background-color: darkred;
}
.top-banar{
    background-image:url(images/top-banner.png);
    background-repeat: no-repeat;
}

.Dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right;

}
.Experiences{
    display:flex;
    padding-bottom: 150px;
    
}
.Experience{
    width:40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 10px 5px gray;
    border-left:5px solid blueviolet;
}
.border{
    border-left:5px solid rgb(255, 115, 7);
}

.Experiences{
    background-image:url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left top;
}

footer p{
    text-align:center;
}